

/* header */
body{min-width: 1900px;}

header {padding: 25px 80px;position: absolute;top:0;left: 0;width: 100%; z-index:2;}
header nav {width: 1500px;margin: 0 auto;}
header>nav>.left {float:left;width:33.333333%;line-height:20px;}
header>nav>.left>li {float: left; width: 33.333333%;}
header>nav>.left>li>a {display: block;text-align: center;line-height: 30px;padding-bottom: 10px;}

header>nav>.left>li>a:after{content:"";display:block;width: 0;height: 2px;background: #994ae7;transition: 0.5s;margin: 0 auto;}
header>nav>.left>li>a:hover:after {width:100%;}

header>nav>.right>li>a:after{content:"";display:block;width: 0;height: 2px;background: #994ae7;transition: 0.5s;margin: 0 auto;}
header>nav>.right>li>a:hover:after {width:100%;}

header .logo h1 {float:left;width:33.333333%;text-align:center;padding-top: 4px;}
header>nav>.right {float:left;width: 33%;line-height:20px;}
header>nav>.right>li {float: left; width: 33.333333%;}
header>nav>.right>li>a {display: block;text-align: center;line-height: 30px;padding-bottom: 10px;}
header .right li:nth-child(1){color: #7e00ff;}

header>nav>.left>li:hover>.smenu{display: block;}
.smenu {display: none;background: rgba(255, 255, 255, 0.658);text-align: center;}
.smenu>li>a {display: block;width: 100%;padding: 20px 0;line-height: 10px;}
.smenu>li:last-child>a {padding-bottom: 30px;}
.smenu>li>a:hover {color: #7e00ff;}




/* gnb */

header>div {position:fixed;text-transform: uppercase;}
header .gnb-right {top:50%;right:40px;transform:translateY(-50%);}
header .gnb-right ul {width:50px;background: rgba(255, 255, 255, 0.562);text-align: center;padding:15px 5PX;border-radius: 10px;}
header .gnb-right li {padding: 10px 0;}
header .gnb-right li a {font-size: 20px;font-weight: 500;text-align: center;}
header .gnb-right li.on a {font-size: 24px;font-weight: 900;color:#994ae7;}





/* main */
.main {background: url(../img/ssss.jpg) no-repeat center center/cover}
.header-box {position: absolute;top: 15px;left: 80px;background: rgba(255, 255, 255, 0.788);width: 1760px;height: 52px;}
.main-text {width: 1200px;margin: 0 auto;text-align: center;}
.main-text h2 {padding-top: 600px;opacity: 0;transition: 1.5s;}
.main-text h2.on {padding-top: 50px;opacity: 1;}

.scroll{width: 30px;height: 50px;border:2px solid #fff;position: absolute;bottom: 100px;left: 50%;transform: translateX(-50%);border-radius: 10px;}
.scroll span {display: block;width: 3px;height: 5px;background: #fff;position: absolute;top: 10px;left: 50%;transform: translateX(-50%);animation: wheel 0.8s infinite;}

.scroll:after{content: "";display: block;width: 20px;height: 20px;border-left:1px solid #fff;border-bottom: 1px solid #fff;position: absolute;top: 45px;left: 2px;transform: rotate(-45deg);animation: scro 0.8s infinite;}
.scroll div {position: absolute;top: 80px;left: -7px;color: #fff;}

@keyframes wheel {
    0%{top: 10px;}
    100%{top: 20px;}
}

@keyframes scro {
    0% {top: 40px;}
    100% {top: 52px;}
}




/* track */
.track {background: #f5ece5;}
.track .track-simbol {width: 1600px;margin: 0 auto; margin-top: 40px;}
.track .track-simbol .track-left {float: left;width: 50%;position: relative;}
.track .track-simbol .track-right {float: left;width: 50%;padding-left: 50px;}
.track .track-simbol figure img {border: 10px solid #ddd;}
.track iframe {position: absolute;bottom: 40px;left: 52%;}
.track-right h2 {font-size: 48px;font-weight: 900;padding-bottom: 20px;padding-top: 100px;text-shadow:2px 3px pink}
.track-right h3 {font-size: 30px;font-weight: 700;padding-bottom: 45px;}
.track-right p {font-size: 20px;font-weight: 400;padding-bottom: 20px;line-height: 1.5;}
.track-text {position: absolute;color: #f0d2bb;font-size: 72px;font-weight: 700;top: 170px;right:130px;writing-mode: vertical-rl;text-orientation: mixed;transform: rotate(180deg);}
.track-right h3 span:nth-child(1){color: rgb(204, 77, 77);}
.track-right h3 span:nth-child(2){color: rgb(59, 160, 59);}
.track-right h3 span:nth-child(3){color: rgb(87, 87, 226);}


.slider-btn.prev{position: absolute;top:47%;left:7%;color:#333;font-size: 18px;font-weight: 500;border-bottom: 2px solid #333;padding: 10px 30px;cursor: pointer;}
.slider-btn.prev:after{content:"";width: 30px;height:30px;border-left: 2px solid #333;display: block;position: absolute;top:24px;left: 5px;transform: rotate(45deg);}
.slider-btn.next{position: absolute;top:47%;left:829px;color:#333;font-size: 18px;font-weight: 500;border-bottom: 2px solid #333;padding: 10px 30px;cursor: pointer;}
.slider-btn.next:after{content:"";width: 30px;height:30px;border-left: 2px solid #333;display: block;position: absolute;top:24px;right: 5px;transform: rotate(135deg);}





/* ssey */
.ssey {background:#ad8492;position: relative;}
.ssey>.ssey-long {width: 1200px;margin: 0 auto;}
.ssey .ssey-bg{float:right;width: 60%;height: 750px;overflow: hidden;margin-top: 60px;margin-right: 220px;border: 10px solid #ddd;}
.ssey figure img{width: 100%;}
.ssey-line {position: absolute;top: 60px;left: 80px;width: 45vh;height: 90vh;border:2px dashed #ddd;border-radius: 0 45vh 45vh 0;box-sizing: content-box;}
.ssey-line li:after {content:"";display:block;width:10px;height:10px; background: #ddd;border-radius:50%;position:absolute;top:26px;left:50%;transform:translateX(-50%)}
.ssey-line li{position: absolute;color: #ddd;font-weight: 500;font-size: 22px;cursor: pointer;text-shadow:2px 3px #333;}
.ssey-line li:nth-child(1){top:70px;left:236px;}
.ssey-line li:nth-child(2){top:250px;left:357px;}
.ssey-line li:nth-child(3){top:530px;left:357px;}
.ssey-line li:nth-child(4){top:710px;left:236px;}
.ssey-line li.on:after{background: #994ae7;}
.ssey-line li.on{color:#994ae7;}
.ssey-slide{position: absolute;top: 150px;left: 80px;width: 35vh;height:70vh;border-radius: 0 35vh 35vh 0;overflow: hidden;}
.ssey-slide img {width: 100%;transition: 0.8s;}
.ssey-text {position: absolute;color: #8f5e6e;font-size: 72px;font-weight: 700;top: 170px;right:130px;writing-mode: vertical-rl;text-orientation: mixed;transform: rotate(180deg);}


.ssey {position:relative;}
.ssey-bg+.cur {display:none;}
.ssey-bg:hover+.cur {display:block;position:absolute;top:0;left:0;width:50px;height:50px;background:#ddd;border-radius:50%;z-index:999999}

.ssey-linebg{position: absolute;top: 0;left: 0; height: 100vh;width: 82px;background: #ad8492;}





/* shop */
.shop {background: url(../img/sectionbg.jpg) no-repeat center center/cover;}
.shop-post {width: 1500px;margin: 0 auto;padding-top: 70px;}

.shop-post figure {float: left;width: 33.333333%;position: relative;opacity: 0;}


.shop-post figure>a:after {content:"";display:block;width:100%;height:100%;background:rgba(51, 51, 51, 0.664);opacity:0;transition:0.5s;position: absolute;top: 0;left: 0;}
.shop-post figure .shop-text{position: absolute;top: 40px;left: 40px;border: 1px solid #fff;width: 420px;height: 570px;z-index: 9;opacity: 0;transition:0.5s;}

.shop-post h2 {font-size: 48px;font-weight: 900;text-shadow:2px 3px rgb(194, 151, 214);padding-bottom: 20px;text-align: center;}
.shop-post h3 {font-size: 30px;font-weight: 700;padding-bottom: 40px;text-align: center;}

.shop-post figure p {padding-top: 180px;color: #fff;z-index: 9;font-size: 35px;font-weight: 600;line-height: 1.5;text-align: center;}
.shop-post figure span {padding: 5px 15px;font-size: 18px;font-weight: 500;border: 1px solid #fff;}
.shop-post figure img {width: 100%;}

.shop-post figure span:hover{background: #fff;color: #333;}
.shop-post figure>a:hover:after{opacity: 1;}
.shop-post figure>a:hover .shop-text {opacity: 1;}

.shop.on .dna01{animation: dna1 0.5s both;opacity: 1;}
.shop.on .dna02{animation: dna1 0.5s .5s both;opacity: 1;}
.shop.on .dna03{animation: dna1 0.5s 1s both;opacity: 1;}

@keyframes dna1 {
    0%{top: 900px;}
    100%{top: 0;}
}



/* product */

.product h2{width: 1500px;margin: 0 auto;font-size: 45px;font-weight: 900;text-shadow:2px 3px rgb(228, 183, 133);padding-bottom: 10px;padding-top: 55px;padding-left: 15px;text-align: center;}
.product h3{width: 1500px;margin: 0 auto;font-size: 24px;font-weight: 700;padding-bottom: 30px;padding-left: 15px;text-align: center;}

.product-bg {width: 1500px;margin: 0 auto;position: relative;}
.product-bg:after {content: "";display: block;clear: both;}
.product-bg figure {float: left;width: 33.333333%;position: relative;overflow: hidden;}
.product-bg figure a {position: relative;}
.product-bg figure:nth-child(1){position: relative;}


.product-bg>figure:nth-child(1)>a>img:nth-child(2) {opacity: 0;transition: 0.5s;position: absolute;top: -320px;left: 0;}
.product-bg>figure:nth-child(1):hover>a>img:nth-child(2){opacity: 1;}

.product-bg>figure:nth-child(2)>a>img:nth-child(2) {opacity: 0;transition: 0.5s;position: absolute;top: -155px;left: 0;}
.product-bg>figure:nth-child(2):hover>a>img:nth-child(2){opacity: 1;}

.product-bg>figure:nth-child(3)>a>img:nth-child(2) {opacity: 0;transition: 0.5s;position: absolute;top: -155px;left: 0;}
.product-bg>figure:nth-child(3):hover>a>img:nth-child(2){opacity: 1;}

.product-bg>figure:nth-child(4)>a>img:nth-child(2) {opacity: 0;transition: 0.5s;position: absolute;top: -155px;left: 0;}
.product-bg>figure:nth-child(4):hover>a>img:nth-child(2){opacity: 1;}

.product-bg>figure:nth-child(5)>a>img:nth-child(2) {opacity: 0;transition: 0.5s;position: absolute;top: -155px;left: 0;}
.product-bg>figure:nth-child(5):hover>a>img:nth-child(2){opacity: 1;}

.pro-text{opacity: 0;transition: 0.5s;position: absolute;top: 15px;left: 0;background: rgba(255, 255, 255, 0.733);width: 100%;height:340px ;color: #333;}
.product-bg>figure:nth-child(1):hover .pro-text {opacity: 1;}

.pro-text h4 {padding-left: 40px;font-size: 30px;font-weight: 500;padding-bottom: 20px;padding-top: 80px;line-height: 1.2;}
.pro-text span {font-size: 24px;}
.pro-text p {padding-left: 40px;font-size: 20px;font-weight: 400;line-height: 1.2;}









/* lookbook */
.lookbook {width: 1300px;height: 820px;margin: 0 auto;overflow: hidden;margin-top: 50px;margin-left: 150px;background: #fff;}
.lookbook figure{margin: 0 auto;padding: 20px 10px;}
.lookbook figure img {width: 100%;}
.book-text {font-size:80px;font-weight: 700;position: absolute;top: 100px;left: 150px;writing-mode: vertical-rl;text-orientation: mixed;transform: rotate(185deg);text-shadow:2px 3px #ddd}
.book-text span {color: #7e00ff;}
.book-contentbg {position: absolute;bottom: 50px;right: 160px;background: #994ae7;;width: 430px;height: 280px;}
.book-content {position: absolute;bottom: 80px;right: 200px;background: #fff;width: 450px;height: 300px;padding: 50px;border: 10px solid #333;}
.book-content h3 {font-size: 28px;font-weight: 800;padding-bottom: 25px;}
.book-content p {font-size: 20px;font-weight: 400;line-height: 28px;}




.xi-angle-left-thin {position: absolute;top: 53%;right: 23%;background: rgba(51, 51, 51, 0.541);color: #fff;font-size: 28px;padding: 5px;cursor: pointer;}
.xi-angle-right-thin {position: absolute;top: 53%;right: 20%;background: rgba(51, 51, 51, 0.541);color: #fff;font-size: 28px;padding: 5px;cursor: pointer;}


.xi-angle-left-thin:hover{background: #333;}
.xi-angle-right-thin:hover{background: #333;}








