#m01 {padding:100px 0;background:#f2f2f2;}
#m01>div {width:1200px;margin:0 auto;}
#m01 figure {float:left;width:33.333333%;padding:0 15px;}

#m02 {padding:100px 0;}
#m02>div {width:1200px;margin:0 auto;}
#m02 figure {float:left;width:50%;padding:0 15px;}

#m03 {padding:100px 0;background:#f2f2f2;}
#m03>div {width:1200px;margin:0 auto;}
#m03 figure {float:left;width:25%;padding:0 15px;}




img {width:100%;}





