@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body{font-family: 'Noto Sans KR', sans-serif;}

header>h1 {color:#fff; font-size: 50px; width:500px; height: 100px; background:#333; position: relative;top:100px;left:100px;}

