@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body{font-family: 'Noto Sans KR', sans-serif;}

header {background:#f3f3f3;}
header>h1{height:100px;line-height:100px;text-align:center;}

.mopen{display: none;position:fixed;top:30px;right:30px;width:30px;height: 30px;}
.mopen>span{display: block;position: absolute;width: 100%;height: 2px;background: #333;transition: 0.3s}
.mopen>span:nth-child(1){top:0;}
.mopen>span:nth-child(2){top:10px;}
.mopen>span:nth-child(3){top:10px;}
.mopen>span:nth-child(4){top:20px;}

.mopen.on>span:nth-child(1){display: none;}
.mopen.on>span:nth-child(2){transform: rotate(-45deg)}
.mopen.on>span:nth-child(3){transform: rotate(45deg)}
.mopen.on>span:nth-child(4){display: none;}

nav{border-top: 1px solid #333; border-bottom: 1px solid #333;}
nav>ul{width:1200px;margin:0 auto;}
nav>ul:after{content: "";display: block;clear: both;}
nav>ul>li{float: left; width: 20%;border-left: 1px solid #333;}
nav>ul>li:last-child {border-right: 1px solid #333;}
nav>ul>li>a {display: block;line-height: 40px; text-align: center;}

#visual {padding:150px 0;background: url(../img/visual-bg.jpg)no-repeat center center/cover; text-align: center;}

#visual>h2{font-size: 50px; font-weight: 900; color: #fff;}
#visual>p {font-size: 14px;color: #fff;}

#contents{padding:100px 0; background: #f3f3f3; text-align: center;}
#contents>h2{font-size:30px; font-weight: 700;}
#contents>p{font-size: 14px; font-weight: 300;padding-bottom: 30px;}
#contents>div {width: 1200px; margin: 0 auto;}
#contents>div:after{content:"";display: block;clear: both;}
#contents figure{float:left; width: 33.333333%;padding: 0 15px;}
#contents img{display: block;width: 100%;}

footer{padding: 30px 0; background: #333; color: #fff; text-align: center;}


/*반응형---모바일---*/

@media screen and (max-width:768px){
    
header {background:#f3f3f3;}
header>h1{height:100px;line-height:100px;text-align:center;}
    
    .mopen{display: block;}
  
    
nav{position:fixed; top:0; left:-100%; background:#fff;width:80%; height:100vh; border-top: 1px solid #333; border-bottom: 1px solid #333;transition:0.3s;}
    nav.on {left:0;}    
    
    
nav>ul{width:100%;margin:0 auto;}
nav>ul:after{content: "";display: block;clear: both;}
nav>ul>li{float:none; width:100%;border-left: none;border-bottom: 1px solid #ddd;}
nav>ul>li:last-child {border-right: none;}
nav>ul>li>a {display: block;line-height: 40px; text-align: center;}

#visual {padding:150px 0;background: url(../img/visual-bg.jpg)no-repeat center center/cover; text-align: center;}

#visual>h2{font-size: 50px; font-weight: 900; color: #fff;}
#visual>p {font-size: 14px;color: #fff;}

#contents{padding:100px 0; background: #f3f3f3; text-align: center;}
#contents>h2{font-size:30px; font-weight: 700;}
#contents>p{font-size: 14px; font-weight: 300;padding-bottom: 30px;}
#contents>div {width: 100%; margin: 0 auto;}
#contents>div:after{content:"";display: block;clear: both;}
#contents figure{float:none; width: 100%;padding: 0 15px;}
#contents img{display: block;width: 100%;}
#contents figure h3 {padding: 15px 0;}

footer{padding: 30px 0; background: #333; color: #fff; text-align: center;}    
    
    
    
    
}







