header{background:#ff0;}
header>div{width:1200px;margin:0 auto;}

header h1{float:left;background:#f00;}
header nav{float:right;background:#369;}
header nav li{float:left;margin-left:30px;}

















