@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

*{margin: 0;padding: 0;font-size: inherit;font-weight: inherit;box-sizing: border-box;outline:none;line-height: 1}
ul{list-style: none;}
a{text-decoration: none;color: inherit;}

img{vertical-align: middle;}

.cf:after, .clearfix:after, .row:after {content:"";display:block;clear:both;}

body{font-family: 'Noto Sans KR', sans-serif;color: #333;}


/*초기화 css이당... 다른 css에 붙여 사용하기b
html부분에 <link href="css/reset.css" rel="stylesheet">을 꼭 link맨 위에 붙여서 사용하기!!
(ex)
<head>
        <title>실습006</title>
        <meta charset="UTF-8">
        <link href="css/reset.css" rel="stylesheet">
        <link href="css/m006.css" rel="stylesheet">
이런식으로!! */