.section {background: url(../img/bg_intro2.jpg) no-repeat center center/cover;}
.section h2{color: #fff;text-align: center;transition: 1s;font-size: 70px;font-weight: 900;text-transform: uppercase;opacity: 0;transform: translateY(100px);}
.section.on h2{opacity: 1;transform: translateY(0)}