header {position: absolute;top:0;left: 0;width: 100%; z-index:2;}
header .container {width: 1200px;margin: 0 auto;padding: 0 15px;}
header .container:after {content:"";display: block;clear: both;}
header h1 {float: left;}
header nav{float: right;}
header nav>ul>li{float: left;color: #fff;font-weight: 500;padding: 0 23px;position:relative;}
header nav>ul>li:last-child{padding-right: 0;}
header nav>ul>li:after {content:"";display: block;width: 1px;height: 14px;background: #fff;position:absolute;top:50%;left:0;transform: translateY(-50%);}
header nav>ul>li:first-child:after {display: none;}
header a {line-height: 100px;}

.main-slogan{position:absolute;top:215px;left:50%;transform: translateX(-50%);width: 1200px;color: #fff;padding: 0 15px;}

#main-visual{position: relative;}
.main-slider img {width: 100%;}

.main-slider figure{height: 700px;position:relative;}
.main-slider .slider-item01{background: url(../img/mainslider.jpg) no-repeat center center/cover}
.main-slider .slider-item02{background: url(../img/mainslider01.jpg) no-repeat center center/cover;text-align:right;}
.main-slider .slider-item03{background: url(../img/mainslider.jpg) no-repeat center center/cover}
.main-slider .slider-item02 .main-slogan {color: #ff0;}


.main-slogan h3{font-size: 80px;font-weight: 700;text-shadow: 2px 2px 2px #333;margin-bottom: 30px;text-indent: -4px;}
.main-slogan p{font-size: 18px;font-weight: 300;text-shadow: 2px 2px 2px #333;}


#event {padding:100px 0;background:#f2f2f2;text-align: center;}

#event h2 {font-size:36px;font-weight:700;color: #333;}
#event p {font-weight:300;margin-bottom: 30px;color: #333;}

#event .event-container{width: 1200px;margin:0 auto;overflow: hidden;}
#event .event-container figure {float:left;width: 33.333333%;padding:0 15px;}





















