@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

body{font-family: 'Noto Sans KR', sans-serif;}

.m01 {width:200px;height:500px;background: #369;transition:0.5s}
.m01.on {background:#f00;height:300px;}

.btn.on{color:#f00;}

