
body {overflow-x: hidden;}

/* 헤더 */
header {position: fixed;top: 0;left: 0;color: #333;padding: 10px 20px;width: 100%;min-width: 1900px;transition: 1s;}
header.on{background: #fff;}
header:after{content: "";display: block;clear: both;}
header h1{float: left;width: 20%;padding-top: 10px;padding-left: 50px;}
header img{width: 20px;}
header nav{float: left;width: 60%;text-align: center;font-size: 10px;}
header nav ul>li {padding: 0 30px;}
header>a {float: right;font-size: 20px;padding-right: 50px;padding-top: 17px;}
header>a>h2 {padding: 0 10px; border: 2px solid #21b6d4;color:#21b6d4 ;line-height: 40px;}
header>nav ul{font-size: 0;}
header>nav li{display: inline-block;cursor: pointer;}
header>nav li a {font-size: 16px; line-height: 80px;padding: 0 20px;}
header>nav li:hover{background: rgba(255, 255, 255, 0.651);color: #21b6d4;}



/* 메인 */
#main-visual {width: 100%;background: url(../img/mainslide.JPG) no-repeat center center /cover;height: 100vh;background-attachment: fixed;color: #fff;text-align: center;padding: 280px 0 0 0;}
#main-visual img{width: 230px;}
#ddd {height: 1000px;}