*{outline:1px solid #f00-;}

body {overflow-x:hidden;}

header {background:#fff; position:relative;opacity:1; transition:0.5s; z-index:999;}
header.on {position:fixed;top:-45px; left:0; width:100%; z-index:999;border-bottom: 1px solid #e8e8e8; opacity:1;}
header.on h1 img {width: 220px;padding-top: 4px;}


header>div {float:left;width:18%; padding:52px 0 0 65px;}
header h1 {padding-top:5px;}
header h1 img {display:block;}

nav{float:left; width:82%; background: #fff; padding:47px 0 0 45px;}
nav>ul>li {float:left; }
nav>ul>li>a {display:block; font-size:20px; font-weight: 400;  cursor: pointer; letter-spacing:0em; line-height: 60px;padding: 0 25px;text-align: center;}
nav>ul>li:last-child>a {color:#b8aca3;}



nav>ul>li .bg li {display:inline-block; z-index:2; }
nav>ul>li .bg li>a {display:block; text-align: center; padding:0 10px; color:#555; font-size:16px; font-weight: 400; transition:0.3s; cursor: pointer; padding-top:10px;}
nav>ul>li .bg li>a:hover {color:#b8aca3;}

nav>ul>li:nth-child(1) ul {padding-left:402px; }
nav>ul>li:nth-child(2) ul {padding-left:492px; }
nav>ul>li:nth-child(3) ul {padding-left:600px;}
nav>ul>li:nth-child(4) ul {padding-left:723px;}


nav>ul>li>.bg {position:absolute; top:100px; left:0; width:100%; text-align: left;  height:0;border-top:1px solid transparent; border-bottom:1px solid  transparent;overflow: hidden; z-index:1;}
nav>ul>li:hover>.bg {height:50px;padding:5px 0; width:100%;transition:0.3s; border-top:1px solid #e8e8e8; border-bottom:1px solid #e8e8e8;background:rgba(255, 255, 255, 0.767);}

nav>div {float:right;position:relative;font-size:24px; text-align: right; margin-right:65px;  line-height: 58px;  }
nav>div i {cursor: pointer; color:#555; padding-left:5px; }


/*폼*/
nav form {position:absolute; top:35%; right:115%; display:none; width:270px; transition:0.3s}
nav form.on {display:block;}
input {border:none; outline: none; background:transparent; vertical-align: top;}
input[type="text"] {height: 20px; width:150px; border:1px solid #999;}
input[type="text"]::placeholder {padding-left:5px;}
input[type="submit"] {background:#999; color:#fff; width:60px; height:20px; cursor: pointer; border:1px solid #b8aca3; font-size:14px;}







/*main*/

.main-slider figure {height:830px;width: 100%;position: relative;}
.main-slider .main-slider-item01 {background:url(../img/main01.jpg) no-repeat center center/cover}
.main-slider .main-slider-item02 {background:url(../img/main02.jpg) no-repeat center center/cover}
.main-slider .main-slider-item03 {background:url(../img/main03.jpg) no-repeat center center/cover}
.main-slider .slick-dots {position:absolute;bottom:30px;width:100%;text-align:center;}
.main-slider .slick-dots li{display:inline-block;width:10px;height:10px;background:rgb(160, 160, 160);margin:0 10px;border-radius: 50%;transition: 0.5s;}
.main-slider .slick-dots li.slick-active{background:rgb(107, 107, 107);width:35px;height:5px;border-radius: 10px;margin-bottom: 2px;}
.main-slider .slick-dots button{display:none;}


.more01 {position: absolute;top: 280px;left: 50%;transform: translateX(-50%);background: rgba(135, 156, 155, 0.719);padding: 20px 30px;}
.more01 h2 {font-size: 80px;padding-bottom: 30px;color: #fff;text-align: center;}
.more01 p {font-size:30px;padding-bottom: 30px; color: #fff;text-align: center;}
.more01 a {padding-left: 2px;display: block;width: 100px;padding: 5px 0;border: 1px solid #fff;text-align: center;font-size: 20px;border-radius: 30px;color: #fff;margin: 0 auto;transition: 0.5s;}
.more01 a:hover {background: #fff;color: #333;}

.more02 {position: absolute;top: 160px;left: 72%;transform: translateX(-50%)}
.more02 h2 {font-size: 55px;padding-bottom: 15px;}
.more02 p {font-size:20px;padding-bottom: 30px;}
.more02 a {padding-left: 2px;display: block;width: 100px;padding: 5px 0;border: 1px solid #333;text-align: center;font-size: 16px;border-radius: 30px;transition: 0.5s;}
.more02 a:hover {background: #333;color: #fff;}

.more03 {position: absolute;top: 175px;left: 30%;transform: translateX(-50%)}
.more03 h2 {font-size: 55px;padding-bottom: 15px;}
.more03 p {font-size:20px;padding-bottom: 30px;}
.more03 a {padding-left: 2px;display: block;width: 100px;padding: 5px 0;border: 1px solid #333;text-align: center;font-size: 16px;border-radius: 30px;transition: 0.5s;}
.more03 a:hover {background: #333;color: #fff;}






/*시리즈*/

#series {padding: 100px 0;}
#series:after {content: "";display: block;clear: both;}
#series h2{font-size: 28px; font-weight: 500;text-align: center;padding-bottom: 20px;}
#series .series-tab{font-size: 14px; font-weight: 400;text-align: center;}
#series .series-tab li{display: inline-block;border: 1px solid #ddd;padding: 10px 20px;margin: 20px;border-radius: 10px;margin-bottom: 20px;cursor: pointer;}
#series .series-tab li:hover {background: #333;color: #fff;transition: 0.5s;}

#series .series-con{width: 1200px;margin: 0 auto;}
#series .series-con figure {display: none;float: left;width: 33.333333%;padding: 0 15px;border: 1px solid #ddd;text-align: center;}
#series .series-con figure.on{display: block;}

#series .series-con figure img {width:300px;}
#series .series-con figure p {padding-bottom: 15px;}
#series .series-con figure:hover img {filter:opacity(60%);}











